*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.parent{
    margin: 0 auto;
    width: 40%;
    height: 400px;
    background-color: beige;
}
.parent .child{
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    transition: transform 0.5s ease-in 2s;
}
.parent:hover .child{
    transform: translate(0,250px);
}